$primary-color-Purple: hsl(259, 100%, 65%);
$primary-color-light-red: hsl(0, 100%, 67%);

$color-white: hsl(0, 0%, 100%);
$color-off-white: hsl(0, 0%, 94%);
$color-light-grey: hsl(0, 0%, 86%);
$color-smokey-grey: hsl(0, 1%, 44%);
$color-off-black: hsl(0, 0%, 8%);

$gradient: linear-gradient(
  to right bottom,
  $primary-color-Purple,
  $primary-color-light-red
);

$bp-large: 96.25em; // 1440px
$bp-medium: 61.25em; // 980px
$bp-small: 37.25em; // 600px
$bp-smaller: 31.25em; // 500px
$bp-smallest: 25.25em; // 375px
$bp-smallest-extend: 20.25em; // 300px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-smallest) {
    font-size: 55%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  min-height: calc(100vh - 2 * 4vw);
  background-color: $color-light-grey;
  max-width: 144rem;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  width: 42rem;
  height: auto;
  padding: 3rem;
  border-radius: 9px;
  border-bottom-right-radius: 10rem;

  @media only screen and (max-width: $bp-small) {
    width: 38rem;
  }

  @media only screen and (max-width: $bp-smallest-extend) {
    width: 28rem;
  }
}

.age-calculation-input__container {
  display: flex;
  gap: 1rem;
  width: 80%;
  margin-bottom: 0.8rem;
  @media only screen and (max-width: $bp-small) {
    margin-bottom: 1.8rem;
  }

  @media only screen and (max-width: $bp-smallest-extend) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

label {
  font-size: 1.2rem;
  font-weight: 400;
  color: $color-light-grey;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input {
  border: none;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 1rem 0.8rem;
  box-shadow: 0 0 0 1px #ddd;
  border-radius: 0.5rem;
  width: 8rem;
  transition: all 0.3s;

  @media only screen and (max-width: $bp-small) {
    width: 7rem;
  }

  @media only screen and (max-width: $bp-smallest-extend) {
    width: 6rem;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }

  &::placeholder {
    color: $color-smokey-grey;
    font-weight: 700;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #ced4da;
    background-color: #e9ecef;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 0.8rem;
}

.btn {
  width: 5rem;
  text-align: center;
  padding: 1.2rem;
  border: none;
  background-color: $primary-color-Purple;
  color: $color-white;
  border-radius: 50%;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-image {
  width: 2rem;
  height: 2rem;
}
hr {
  width: 100%;
  border: 1px solid $color-light-grey;
  height: 1px;
}

.error-message {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #c92a2a;
  width: 80%;
  transition: all 0.3s;
  @media only screen and (max-width: $bp-smallest-extend) {
    width: 100%;
    font-size: 1rem;
  }
}

.error-message--extend {
  background-color: #ffe3e3;
  height: 3.2rem;
  padding: 0.8rem 0.5rem;
  margin-bottom: -2rem;
  transition: all 0.3s;
  @media only screen and (max-width: $bp-small) {
    margin-top: -1rem;
  }

  @media only screen and (max-width: $bp-smallest-extend) {
    margin-bottom: 1rem;
  }
}

.error-icon {
  height: 1.2rem;
  width: 1.2rem;
}

.invalid-input:focus {
  outline: none;
  background-color: #fff5f5;
  box-shadow: 0 0 0 1px #fa5252;
}

.btn:hover {
  background-color: $color-off-black;
}

.calculate-result_container {
  display: flex;
  flex-direction: column;
  height: 15.6rem;
  font-size: 5rem;
  font-weight: 800;
  font-style: italic;
  line-height: 1;
  @media only screen and (max-width: $bp-smallest-extend) {
    font-size: 4rem;
  }
}
.calculate-result span {
  color: $primary-color-Purple;
}

.loader {
  width: 106px;
  height: 56px;
  display: block;
  margin: 30px auto;
  background-image: linear-gradient(#2b8a3e 50px, transparent 0),
    linear-gradient(#2b8a3e 50px, transparent 0),
    linear-gradient(#2b8a3e 50px, transparent 0),
    linear-gradient(#2b8a3e 50px, transparent 0),
    radial-gradient(circle 14px, #2b8a3e 100%, transparent 0);
  background-size: 48px 15px, 15px 35px, 15px 35px, 25px 15px, 28px 28px;
  background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
  background-repeat: no-repeat;
  position: relative;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.loader::after,
.loader::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border: 6px solid #f76707;
  border-radius: 50%;
  left: -45px;
  top: -10px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#fa5252 64px, transparent 0),
    linear-gradient(#fa5252 66px, transparent 0),
    radial-gradient(circle 4px, #fa5252 100%, transparent 0);
  background-size: 40px 1px, 1px 40px, 8px 8px;
  background-position: center center;
  box-sizing: border-box;
  animation: bike 0.3s linear infinite;
}

.loader::before {
  left: 25px;
  top: 60px;
}

@keyframes bike {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
